.loginbox-layout {
    align-items: center;
    background-image: url('/images/bg.jpg');
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }
  
  .loginbox-layout__box {
    background: fade-out(white, .15);
    border-radius: 3px;
    padding: 3.2rem 1,6rem;
    text-align: center;
    width: 25rem;
  }
  
  .loginbox-layout__title {
    margin: 0 0 1,6rem 0;
    line-height: 1;
    color: white;
  }

  .smallheight{
      height: 26px !important;
  }

  .loader {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }
  
  .loaderimage {
    height: 6rem;
    width: 6rem;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  