.movie {
    width: 75%;
    color: white;
 }
  
 .title-year {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
 }
  
 .title, .year {
    font-weight: bold;
 }

 .form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
  
}

.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1.2rem;
}

.page-header {
  background: #f7f7f7;
  margin-bottom: 3.2rem;
  padding: 3.2rem 0;
}

.page-header__actions {
  margin-bottom: 3.2rem;
  padding: 1.2rem 0;
  margin-top: 1.6rem;
}

/* .page-header__title {
  font-weight: 300;
  margin: 0;
} */
.page-header__title{
  font-weight: 300;
margin: -31px;
    margin-left: -2px;
}





.button {
  background: #1c88bf;
  border: none;
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
  padding: 0.8rem;
  text-decoration: none;
  margin-top: 1rem;
}

.nomarginbutton {
  margin-top:0rem !important;
}

.buttonlink {
  background: none;
}

.buttonsecondary {
  background: #888;
}


.list-item {
  border: 1px solid darken(#f7f7f7, 7%);
  border-top: none;
  color: white;
  display: flex;
  padding: 1.6rem;
  text-decoration: none;
  transition: background .3s ease;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  
}
 /* .list-item {
   border: 1px solid darken(#f7f7f7, 7%);
   border-top: none;
   color: #333;
   display: flex;
   padding: 1.6rem;
   text-decoration: none;
   transition: background .3s ease;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   
 }


 .list-item__title {
   margin: 0;
   word-break: break-all;
 }
 
 .list-item__sub-title {
   color: #666;
   font-size: 1.4rem;
 }
 
 .list-item__data {
 
  
     margin: 0;
     padding-left: 1.2rem;
   
 } */
